<div class="row">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<div class="row">
		  <div class="col-xs-8">
			<h4>Contacts</h4>
		  </div>
		  <div class="col-xs-4">
			<a href="#" class="btn btn-success" [routerLink]="['new']">
			  New Contact
			</a>
		  </div>
		</div>
	  </div>
	  <div class="panel-body">
		<div class="col-xs-12">
		  <app-contact-item
			*ngFor="let contact of contacts"
			[contact]="contact"
			dnd-draggable
			[dragEnabled]="true"
			[dragData]="contact"
			[dropZones]="['contactGroup']"
		  >
		  </app-contact-item>
		</div>
	  </div>
	</div>
  </div>